* {
    border: 1px solid red
}


#logo {
    width: 5rem;
    height: auto;
    border-radius: 50%;
}

#intro-picture {
    width: 22rem;
    max-width: 37rem;
    height: auto;
    flex: auto;
    border-radius: 5%;
}



/* main sections */
.section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-content {
    width: 80%;
}

.header {
    background-color: #1F2937;
    color: aliceblue;
}

.quote {
    background-color: #E5E7EB;
}


/* medium sections */
.header-content {
    display: flex;
    justify-content: space-between;
}

.intro-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 10rem;

}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;
    align-items: center;
}



/* smaller sections */





/* even smaller sections */
.nav-links {
    display: flex;
    
    gap: 2rem;
    list-style: none;    
}

.nav-links a {
    color: white    ;
    text-decoration: none;
}





/* types */
button {
    background-color: #3882f6;
    padding: 0.5rem 1.5rem;
    border-radius: 15px;
}

.card > img {
    width: 25rem;
    height: auto;
}

